/*
    ------------------------------
    | OVERVIEW                   |
    ------------------------------

    | Variables                  |
    | Normalize                  |
    | Base                       |
    | Custom classes             |
    | Document                   |
    | Typography                 |
    | Forms and form elements    |
    | Header and navigation      |
*/

/*
    ------------------------------
    | VARIABLES                  |
    ------------------------------
*/

:root {
    /* Font stacks */
    --font-stack-primary: itc-avant-garde-gothic-pro, system-ui, sans-serif;
    --font-stack-secondary: bitcount-grid-single-circle, 'Courier New', monospace;

    /* Font weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Font sizes (using Major Third as a scale - with small adjustments) */
    --font-size-normal: 16px;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.563rem;
    --font-size-huge: 1.953rem;
    --font-size-enormous: 2.441rem;
    --font-size-gigantic: 3.052rem;
    --font-size-small: 0.9rem;
    --font-size-tiny: 0.75rem;

    /* Line heights */
    --line-height-short: 1.33rem;
    --line-height-normal: 1.875rem;

    /* Letter-spacing */
    --letter-spacing-narrow: -6%;

    /* Spacing */
    --spacing-tiny: 10px;
    --spacing-small: 20px;
    --spacing-medium: 40px;
    --spacing-large: 60px;
    --spacing-huge: 100px;

    /* Widths */
    --width-desktop: 1200px;
    --width-tablet: 768px;
    --width-phone: 480px;
    --content-width: calc(100% - 2 * var(--spacing-medium));
    --content-max-width: var(--width-desktop);
    --content-max-width-narrow: var(--width-tablet);

    /* Colors */
    --color-pertineo-red: #ff0255;
    --color-pertineo-orange: #faaa3f;
    --color-pertineo-yellow: #e5ee47;
    --color-pertineo-lightblue: #0bbfe6;
    --color-pertineo-mediumblue: #40738a;
    --color-pertineo-darkblue: #00041a;
    --color-pertineo-white: #ffffff;

    /* Form elements */
    --form-element-height: 42px;
    --form-element-border-radius: calc(var(--form-element-height) / 2);

    /* Transitions */
    --transition-normal: all 150ms cubic-bezier(0.36, 0.09, 0.33, 1);
}

/*
    ------------------------------
    | NORMALIZE                  |
    ------------------------------
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bold;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
-webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*
    ------------------------------
    | BASE                       |
    ------------------------------
*/

/* Also sort of like normalize, just my own additions */

b,
strong {
    font-weight: var(--font-weight-bold);
}

em,
i {
    font-style: italic;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*
    ------------------------------
    | CUSTOM CLASSES             |
    ------------------------------
*/

.bgcolor-red {
    background-color: var(--color-pertineo-red);
}

.bgcolor-orange {
    background-color: var(--color-pertineo-orange);
}

.bgcolor-yellow {
    background-color: var(--color-pertineo-yellow);
}

.bgcolor-lightblue {
    background-color: var(--color-pertineo-lightblue);
}

.bgcolor-darkblue {
    background-color: var(--color-pertineo-darkblue);
    color: var(--color-pertineo-white);
}

.bgcolor-white {
    background-color: var(--color-pertineo-white);
}

.color-red {
    color: var(--color-pertineo-red);
}

.color-orange {
    color: var(--color-pertineo-orange);
}

.color-yellow {
    color: var(--color-pertineo-yellow);
}

.color-lightblue {
    color: var(--color-pertineo-lightblue);
}

.color-darkblue {
    color: var(--color-pertineo-darkblue);
}

.color-white {
    color: var(--color-pertineo-white);
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.mt-auto {
    margin-top: auto;
}

.mt-tiny {
    margin-top: var(--spacing-tiny);
}

.mt-small {
    margin-top: var(--spacing-small);
}

.mt-medium {
    margin-top: var(--spacing-medium);
}

.mt-large {
    margin-top: var(--spacing-large);
}

.mt-huge {
    margin-top: var(--spacing-huge);
}

.mb-auto {
    margin-bottom: auto;
}

.mb-tiny {
    margin-bottom: var(--spacing-tiny);
}

.mb-small {
    margin-bottom: var(--spacing-small);
}

.mb-medium {
    margin-bottom: var(--spacing-medium);
}

.mb-large {
    margin-bottom: var(--spacing-large);
}

.mb-huge {
    margin-bottom: var(--spacing-huge);
}

/*
    ------------------------------
    | DOCUMENT                   |
    ------------------------------
*/

body {
    background-color: var(--color-pertineo-darkblue);
    color: var(--color-pertineo-white);
}

body.dashboard {
    display: flex;
}

.section__inner {
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--spacing-small) 0;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.container--narrow {
    max-width: 800px;
}

.container--very-narrow {
    max-width: 400px;
}

/*
    ------------------------------
    | TYPOGRAPHY                 |
    ------------------------------
*/

body {
    font-family: var(--font-stack-primary);
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-short);
    letter-spacing: var(--letter-spacing-narrow);
    margin: 0;
}

p {
    margin: 0;
}

p:has(+ p) {
    margin-bottom: 0.75em;
}

.bit-font {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-short);
}

/*
    ------------------------------
    | FORMS AND FORM ELEMENTS    |
    ------------------------------
*/

.form {
    display: grid;
    grid-gap: var(--spacing-small);
}

.button {
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-tiny) var(--spacing-small);
    height: var(--form-element-height);
    border-radius: var(--form-element-border-radius);
    box-sizing: border-box;
    transition: var(--transition-normal);
    letter-spacing: var(--letter-spacing-narrow);
    display: block;
    line-height: 1em;
    width: fit-content;
}

.button--solid {
    background-color: var(--color-pertineo-white);
    color: var(--color-pertineo-mediumblue);
    box-shadow: 0 5px var(--color-pertineo-mediumblue);
}

.button--solid:hover,
.button--solid:focus {
    transform: translateY(6px);
    box-shadow: 0 0 var(--color-pertineo-mediumblue);
}

.button--outline {
    background-color: transparent;
    border: 2px solid var(--color-pertineo-white);
    color: var(--color-pertineo-white);
}

.button--outline:hover,
.button--outline:focus {
    background-color: color-mix(in srgb, var(--color-pertineo-lightblue), transparent 80%);
}

.form__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-medium);
}

.form__field {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--font-size-small);
    margin-left: var(--spacing-small);
    line-height: 1em;
    margin-bottom: 0.5em;
}

.has-asterisk::after {
    content: '*';
    color: var(--color-pertineo-lightblue);
}

.input {
    border: none;
    height: var(--form-element-height);
    border-radius: var(--form-element-border-radius);
    background-color: var(--color-pertineo-white);
    color: var(--color-pertineo-darkblue);
    padding: 0 var(--spacing-small);
    outline: none;
}

.input:focus {
    box-shadow: inset 0 1px 6px var(--color-pertineo-darkblue);
}

.input::placeholder {
    color: color-mix(in srgb, var(--color-pertineo-darkblue), transparent 70%);
}

.error {
    font-size: var(--font-size-tiny);
    color: var(--color-pertineo-red);
    line-height: 1em;
    margin: 0.75em 0 0 var(--spacing-small);
}

/*
    ------------------------------
    | HEADER AND NAVIGATION      |
    ------------------------------
*/

.header {
    position: sticky;
    top: 0;
}

.header--horizontal {
    padding: var(--spacing-small);
}

.header--vertical {
    background-color: color-mix(in srgb, var(--color-pertineo-darkblue), #FFFFFF 10%);
    height: 100vh;
    width: 300px;
    padding: var(--spacing-medium);
    box-sizing: border-box;
}

.header__inner {
    display: flex;
}

.header__inner--horizontal {
    width: var(--content-width);
    max-width: var(--content-max-width);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__inner--vertical {
    height: 100%;
    flex-direction: column;
    max-width: unset;
}

.header__home-link {
    width: auto;
    display: flex;
}

.header--horizontal .header__home-link {
    height: 60px;
}

.header--vertical .header__home-link {
    height: 70px;
}

.nav--vertical {
    height: 100%;
}

.nav__list {
    display: flex;
}

.nav__list--horizontal {
    gap: var(--spacing-small);
    align-items: center;
}

.nav__list--vertical {
    flex-direction: column;
}

.nav__link {
    color: var(--color-pertineo-white);
}

.nav__icon {
    fill: var(--color-pertineo-white);
}

.nav__list--vertical .nav__item {
    width: calc(100% + var(--spacing-medium) * 2);
    transform: translateX(calc(var(--spacing-medium) * -1));
    box-sizing: border-box;
}

.nav__list--vertical .nav__link {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    padding: 0 var(--spacing-medium);
    box-sizing: border-box;
    position: relative;
}

.nav__list--vertical .nav__link--current::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--color-pertineo-darkblue);
    height: 100%;
    width: calc(100% - var(--spacing-small));
    transform: translateX(calc(var(--spacing-small) * -1));
    border-radius: 30px 0 0 30px;
}

.lang-selector {
    display: flex;
    align-items: center;
}

.nav__list--vertical .lang-selector {
    padding: 0 var(--spacing-medium);
    box-sizing: border-box;
}

.lang-selector__text {
    margin: 0;
}

.lang-selector__lang {
    color: var(--color-pertineo-orange);
    position: relative;
    margin-left: 0.75ch;
}

.lang-selector__lang::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 6px solid var(--color-pertineo-orange);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-size: inherit;
    margin-left: 0.25em;
}
